<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Greeting and info</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Welcome to our little application for tracking currency rate trend!</h1>
<h2>Here you may to know - how rate of the currency was changed from yesterday.</h2>
<h2>For this you must insert short view of desired type of currency in the uri.</h2>
<!--<table style="width: 50%">-->
<!--    <caption>-->
<!--        <h2>-->
<!--            List of possible type of currency:-->
<!--        </h2>-->
<!--    </caption>-->
<!--    <tr>-->
<!--        <th>Short view</th>-->
<!--        <th>Currency type</th>-->
<!--    </tr>-->
<!--    <tr th:each="map : ${currencyInfos}">-->
<!--        <td th:utext="${currencyInfos.getkey()}">Short view</td>-->
<!--        <td th:utext="${currencyInfos.value()}">Currency type</td>-->
<!--    </tr>-->
<!--</table>-->
<!--<hr/>-->
<!--<br/>-->
<!--<form th:method="GET" th:action="@{/books}" th:object="${book}">-->
<!--    <label for="bookTitle">Enter short view of currency type</label>-->
<!--    <input type="text" th:field="*{bookTitle}" id="bookTitle" placeholder="title"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('bookTitle')}" th:errors="*{bookTitle}">error</div>-->
<!--    <input type="submit" value="let's go"/>-->
<!--</form>-->
<!--<a href="URL">текст ссылки</a>-->
</body>
</html>
