<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Greeting and info</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1 style="text-align: center">Welcome to our little application for tracking currency rate trend!</h1>
<h2 style="text-align: center">Here you may to know - how rate of the currency was changed from yesterday.</h2>
<h2 style="text-align: center">For it you may go to the link below, then insert symbol of desired type of currency in the uri.</h2>
<table style="width: 50%">
    <caption>
        <h2 style="text-align: left; text-decoration: underline">
            List of possible type of currency:
        </h2>
    </caption>
    <tr>
        <th style="text-align: left">Symbol</th>
        <th style="text-align: left">Name</th>
    </tr>
    <tr th:each="mapItem, state : ${currencies}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:utext="${mapItem.key}">Symbol</td>
        <td th:utext="${mapItem.value}">Name</td>
    </tr>
</table>
<hr/>
<br/>
<a href="/user/currency/USD">Let's go to know currency trend!</a>
<br/>
<br/>
<br/>
<br/>
</body>
</html>
